.summary {      
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url(../images/architecture-2178604_1920-main1.jpg);
    background-attachment: fixed;
    background-attachment: center;
    color: white;
    padding: 60px 30px;
  }
  
   
  .row {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}
.summary .row {

padding: 0;
    width: 100%;
  }
 
  .summary h3 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }

  .responsive-summary{
    box-sizing: unset;
    padding: 0;
  }